footer.footer.main
  div.wrapper
    div.footer__container
      ul.footer__list
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/facebook-icon-green.svg").default, alt="benatural facebook")
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/linkedin-icon-green.svg").default, alt="benatural linkedin")
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/twitter-icon-green.svg").default, alt="benatural twitter")
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/instagram-icon-green.svg").default, alt="benatural instagram")
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/whatsapp-icon-green.svg").default, alt="benatural whatsapp")
        li.footer__item
          a(href="http://localhost:8000/", rel="nofollow", class="footer__link")
            img(class="footer__icon",src=require("../../public/images/youtube-icon-green.svg").default, alt="benatural youtube")
      p.footer__text CoderGods 2020©